.promo {
  position: relative;

  &__left,
  &__right {
    height: 68px;
  }

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  &__link {
    display: block;
    width: 196px;
    text-align: center;
    font-size: 0;
    background-color: $color-black;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    &--app {
      padding: 24px 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      color: inherit;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      background-color: $color-green;
      @include letter-spacing(25);
    }
  }

  &__wrapper {
    width: 410px;
    margin-top: 44px;
    user-select: none;
  }

  &__fluid {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  &__header {
    margin: 0 0 14px;
    font-size: 52px;
    font-weight: 600;
  }

  &__desc {
    margin: 0 0 8px;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.11;

    &--secondary {
      font-family: "Open Sans";
      font-weight: 300;
      font-size: 20px;
      line-height: 1.3;
    }

    &:last-of-type {
      margin: 0;
    }
  }

  &__img {
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;

    &--secondary {
      right: 152px;
      top: 80px;
    }

    &--primary {
      z-index: 1;
    }
  }
}